<%= form_for(bike) do |f| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maker_id %>
    <%= f.select :maker_id, @makers.map{|t| [t.maker_name, t.id]}%>
  </div>

  <div class="field">
    <%= f.label :bike_series %>
    <%= f.text_field :bike_series %>
  </div>

  <div class="field">
    <%= f.label :bike_name %>
    <%= f.text_field :bike_name %>
  </div>

  <div class="field">
    <%= f.label :frame_type %>
    <%= f.select :frame_type, @roadbike.map{|t| [chek_frame_type_from(t.frame_type), t.frame_type]}%>
  </div>

  <div class="field">
    <%= f.label :component %>
    <%= f.select :component, @roadbike.map{|t| [chek_compornent_from(t.component), t.component]}%>
  </div>

  <div class="field">
    <%= f.label :rear_derailleur %>
    <%= f.text_field :rear_derailleur %>
  </div>

  <div class="field">
    <%= f.label :front_derailleur %>
    <%= f.text_field :front_derailleur %>
  </div>

  <div class="field">
    <%= f.label :crank %>
    <%= f.text_field :crank %>
  </div>

  <div class="field">
    <%= f.label :brake %>
    <%= f.text_field :brake %>
  </div>

  <div class="field">
    <%= f.label :chain %>
    <%= f.text_field :chain %>
  </div>

  <div class="field">
    <%= f.label :sprocket %>
    <%= f.text_field :sprocket %>
  </div>

  <div class="field">
    <%= f.label :sti_lever %>
    <%= f.text_field :sti_lever %>
  </div>

  <div class="field">

    <%= f.label :bb %>
    <%= f.text_field :bb %>
  </div>

  <div class="field">

    <%= f.label :wheel %>
    <%= f.text_field :wheel %>
  </div>

  <div class="field">
    <%= f.label :saddle %>
    <%= f.text_field :saddle %>
  </div>

  <div class="field">
    <%= f.label :seat_pillar %>
    <%= f.text_field :seat_pillar %>
  </div>

  <div class="field">

    <%= f.label :handle %>
    <%= f.text_field :handle %>
  </div>

  <div class="field">

    <%= f.label :stem %>
    <%= f.text_field :stem %>
  </div>

  <div class="field">
    <%= f.label :tire %>
    <%= f.text_field :tire %>
  </div>

  <div class="field">
    <%= f.label :pedal %>
    <%= f.text_field :pedal %>
  </div>

  <div class="field">
    <%= f.label :valve %>
    <%= f.text_field :valve %>
  </div>

  <div class="field">
    <%= f.label :accessory %>
    <%= f.text_field :accessory %>
  </div>

  <div class="field">

    <%= f.label :maker_url %>
    <%= f.text_field :maker_url %>
  </div>

  <div class="field">

    <%= f.label :shop_url %>
    <%= f.text_field :shop_url %>
  </div>

  <div class="field">
    <%= f.label :price%>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :gear%>
    <%= f.number_field :gear%>
  </div>

  <div class="field">
    <%= f.label :fork%>
    <%= f.text_field :fork %>
  </div>

  <div class="field">
    <%= f.label :sex%>
    <%= f.select :sex, @roadbike.map{|t| [which_sex(t.sex), t.sex]}%>
  </div>

  <div class="field">
    <%= f.label :brake_type%>
    <%= f.select :brake_type, @roadbike.map{|t| [find_brake_type(t.brake_type), t.brake_type]}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
