<p id="notice"><%= notice %></p>

<h1>Bikes</h1>

<table border="1">
  <thead>
    <tr>
      <th>roadebike_id</th>
      <th>Maker</th>
      <th>Bike series</th>
      <th>Bike name</th>
      <th>Frame type</th>
      <th>Frame name</th>
      <th>component</th>
      <th>Rear derailleur</th>
      <th>Front derailleur</th>
      <th>Crank</th>
      <th>Brake</th>
      <th>Chain</th>
      <th>Sprocket</th>
      <th>Sti lever</th>
      <th>Bb</th>
      <th>Wheel</th>
      <th>Saddle</th>
      <th>Seat pillar</th>
      <th>Handle</th>
      <th>Stem</th>
      <th>Tire</th>
      <th>Pedal</th>
      <th>Valve</th>
      <th>Accessory</th>

      <th>Maker url</th>
      <th>Shop url</th>
      <th>price</th>
      <th>gear</th>
      <th>fork</th>
      <th>fotk_type</th>
      <th>cd or kc</th>
      <th>sex</th>
      <th>brake type</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.id %></td>
        <td><%= find_maker_name_from(bike.maker_id).maker_name %></td>
        <td><%= bike.bike_series %></td>
        <td><%= bike.bike_name %></td>
        <td><%= chek_frame_type_from(bike.frame_type) %></td>
        <td><%= bike.frame_name %></td>
        <td><%= chek_compornent_from(bike.component) %></td>
        <td><%= bike.rear_derailleur %></td>
        <td><%= bike.front_derailleur %></td>
        <td><%= bike.crank %></td>
        <td><%= bike.brake %></td>
        <td><%= bike.chain %></td>
        <td><%= bike.sprocket %></td>
        <td><%= bike.sti_lever %></td>
        <td><%= bike.bb %></td>
        <td><%= bike.wheel %></td>
        <td><%= bike.saddle %></td>
        <td><%= bike.seat_pillar %></td>
        <td><%= bike.handle %></td>
        <td><%= bike.stem %></td>
        <td><%= bike.tire %></td>
        <td><%= bike.pedal %></td>
        <td><%= bike.valve %></td>
        <td><%= bike.accessory %></td>
        <td><%= bike.maker_url %></td>
        <td><%= bike.shop_url %></td>
        <td><%= bike.price %></td>
        <td><%= bike.gear %></td>
        <td><%= bike.fork %></td>
        <td><%= bike.fork_type%></td>
        <td><%= bike.kc_or_cb%></td>
        <td><%= which_sex(bike.sex)%></td>
        <td><%= find_brake_type(bike.brake_type)%></td>
        <td><%= link_to 'Show', bike %></td>
        <td><%= link_to 'Edit',  edit_roadbike_path(bike) %></td>
        <td><%= link_to 'Destroy', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bike', new_roadbike_path %>
