<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<%=link_to "roadebikeへ" , roadbikes_path %>
<%=link_to "colorへ" , colors_path %>
<%=link_to "sizeへ" , sizes_path %>
<%=link_to "makerへ" , makers_path %>
<%=link_to "productへ" , this_is_for_beginner_home_path %>
<%=link_to "CSVへ" , admin_csv_path %>


  <nav>
      <%= link_to 'ログアウト', admin_logout_path, method: :delete %>
      <%= link_to 'ユーザーを追加', new_mangement_path %>
      <%= link_to 'ユーザー情報変更', "/mangements/#{@user.id}/edit" %>
  </nav>
