<h1>ThisIsForBeginner#home</h1>
<p>Find me in app/views/this_is_for_beginner/home.html.erb</p>

<%= form_tag({
                :controller => 'this_is_for_beginner',
                :action => 'result'
               },
                {
                  :method => "get",
                :bike_type => :bike_type,
                :detail_frame => :detail_frame,
                :detail_bike_type => :detail_bike_type,
                :detail_component => :detail_component,
                :detail_maker => :detail_maker,
                :price_down => :price_down,
                :price_up => :price_up,
                :color => :color,
                :sex => :sex,
                :user_size => :user_size
                }) do %>
<div>
  <strong>自転車のタイプ*</strong>
  <div>
    <%= select_tag :bike_type, options_for_select( [["", nil],["ロードバイク", 1]])%>
  </div>
</div>

<div id = "use_check_box">
  <strong>詳細条件を追加する<strong>
  <%= check_box_tag :detail_check_box%>
</div>

<div id="detaile">
  <div id = "detail_maker">
    <strong>メーカー</strong>
      <div>
        <%= select_tag :detail_maker, options_for_select(@maker.map{|m|[m.maker_name, m.id]}),:include_blank => true%>
      </div>
  </div>
  <div id = "detail_frame">
    <strong>フレーム</strong>
    <br>
      <%= select_tag :detail_frame, options_for_select( [["",nil],["カーボン", "カーボン"],["アルミ","アルミ"],["クロモリ","アルミ"]])%>
    </div>

    <div id = "detail_bike_type">
    <strong>ロードバイクのタイプ</strong>
      <br>
      <%= select_tag :detail_bike_type, options_for_select([["",nil],["エアロバイク",1],["ロングライド", 2],["オールラウンド", 3],["シクロクロス", 4]])%>
    </div>
    <div id = "detail_component">
    <strong>コンポーネント</strong>
    <br>
      <%= select_tag :detail_component, options_for_select( [["",nil],["---SHIMANO---",nil],["DURA-ACE", 10],["ULTEGRA", 11],["105",12],
      ["TIAGRA",13],["SORA", 14],["CLARIS",15],["DURA-ACE DI2",16],["ULTEGRA DI2",17],["---CAMPAGNOLO---", nil],["SuperRecord EPS",18],
      ["SuperRecord",19],["Record EPS",20],["Record",21],["Chorus EPS",22],["Chorus",23],["Athena",24],["Potenza",25],["Veloce",26],
      ["---SRAM---",nil],["S-Series",1],["SRAM Apex",2],["SRAM Apex 1", 3],["SRAM Rival",4],["SRAM Rival 1",5],["SRAM Force", 6],
      ["SRAM Force 1",7],["SRAM RED",8],["SRAM RED eTAP", 9]])%>
    </div>
</div>
  <div>
    <strong>予算</strong>
    <div>
      <%= select_tag :price_down, options_for_select([["下限を設定しない", 0],["5万円",50000],["15万円",150000],["25万円",250000],
                                                ["35万円",350000],["45万円",450000],["55万円",550000],["65万円",650000],
                                                ["75万円",750000],["85万円",850000],["95万円",950000]])%>
                                                〜
      <%= select_tag :price_up, options_for_select([["10万円まで",100000 ],["20万円まで",200000],["30万円まで",300000],["40万円まで",400000],
                                                ["50万円まで",500000],["60万円まで",600000],["70万円まで",700000],["80万円まで",800000],
                                                ["90万円まで",900000],["100万円まで",1000000],["上限を設定しない",10000000]])%>

    </div>
  </div>
<div>
  <strong>カラー</strong>
    <div>
      <%= select_tag :color, options_for_select([["",nil],["red","red"],["blue", "blue"],["green","green"],["black","black"],
                                              ["white","white"],["celeste", "celeste"]])%>
    </div>
</div>

<div>
  <strong>性別モデル</strong>
    <div>
      <%= select_tag :sex, options_for_select([["男性モデル","men"],["女性モデル", "women"]])%>
    </div>
</div>
<div>
  <strong class="must_user_size">身長*</strong>
  <div>
    <%= number_field_tag :user_size , in: 100...300%>
                                              cm
  </div>
</div>
<strong class="must">＊は必須項目です</strong>
<p>
　<%=submit_tag "探す",id: "serch"%>
</p>
<% end %>

<script type="text/javascript">
$("#detail_frame").hide();
$("#detail_bike_type").hide();
$("#detail_component").hide();
$("#use_check_box").hide();
$("#detail_maker").hide();
$(".must").hide();

$("#bike_type").change(function(){
  var bike_type_value = $("#bike_type").val();
  if ($("#bike_type").val() == 1){
    $("#use_check_box").show(500);
  }else if (bike_type_value != 1) {
    $("#use_check_box").hide(500);
    $("#detail_frame").hide(500);
    $("#detail_bike_type").hide(500);
    $("#detail_component").hide(500);
    $("#detail_maker").hide(500);
    $("#detail_bike_type option").attr("selected", false);
    $("#detail_component option").attr("selected", false);
    $("#detail_maker option").attr("selected", false);
    $("#detail_frame option").attr("selected", false);
  }
});

$("#detail_check_box").click(function(){
  if($("#detail_check_box").prop('checked')){
    $("#detail_frame").show(500);
    $("#detail_bike_type").show(500);
    $("#detail_component").show(500);
    $("#detail_maker").show(500);
  }else {
     $("#detail_frame").hide(500);
     $("#detail_bike_type").hide(500);
     $("#detail_component").hide(500);
     $("#detail_maker").hide(500);
     $("#detail_bike_type option").attr("selected", false);
     $("#detail_component option").attr("selected", false);
     $("#detail_maker option").attr("selected", false);
     $("#detail_frame option").attr("selected", false);
  }
});
$("#detail_frame option").attr("selected", false);

$("#serch").click(function(){
  if($("#bike_type").val() == '') {
    $(".must").show(500);
    return false;
  }else if ( $("#user_size").val() == ''){
    $(".must").show(500);
    return false;
  }else{
    $('#serch').submit();
  }
});
</script>
