<p id="notice"><%= notice %></p>
<%=link_to "adminへ戻る", admin_index_path%>
<h1>Sizes</h1>

<table border="1">
  <thead>
    <tr>
      <th>bike_name</th>
      <th>Size</th>
      <th>Min height(cm)</th>
      <th>Max height(cm)</th>
      <th>Weight(kg)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= get_bike_name(size.roadbike_id) %></td>
        <td><%= size.size %></td>
        <td><%= size.min_height %></td>
        <td><%= size.max_height %></td>
        <td><%= size.weight %></td>
        <td><%= link_to 'Show', size %></td>
        <td><%= link_to 'Edit', edit_size_path(size) %></td>
        <td><%= link_to 'Destroy', size, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Size', new_size_path %>
