<p id="notice"><%= notice %></p>

<p>
  <strong>Frame type:</strong>
  <%= @bike.frame_type %>
</p>

<p>
  <strong>Component:</strong>
  <%= @bike.component %>
</p>

<p>
  <strong>Rear derailleur:</strong>
  <%= @bike.rear_derailleur %>
</p>

<p>
  <strong>Front derailleur:</strong>
  <%= @bike.front_derailleur %>
</p>

<p>
  <strong>Crank:</strong>
  <%= @bike.crank %>
</p>

<p>
  <strong>Brake:</strong>
  <%= @bike.brake %>
</p>

<p>
  <strong>Chain:</strong>
  <%= @bike.chain %>
</p>

<p>
  <strong>Sprocket:</strong>
  <%= @bike.sprocket %>
</p>

<p>
  <strong>Sti lever:</strong>
  <%= @bike.sti_lever %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @bike.bb %>
</p>

<p>
  <strong>Wheel:</strong>
  <%= @bike.wheel %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bike.color %>
</p>

<p>
  <strong>Saddle:</strong>
  <%= @bike.saddle %>
</p>

<p>
  <strong>Seat pillar:</strong>
  <%= @bike.seat_pillar %>
</p>

<p>
  <strong>Stem:</strong>
  <%= @bike.stem %>
</p>

<p>
  <strong>Tire:</strong>
  <%= @bike.tire %>
</p>

<p>
  <strong>Pedal:</strong>
  <%= @bike.pedal %>
</p>

<p>
  <strong>Valve:</strong>
  <%= @bike.valve %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @bike.accessory %>
</p>

<p>
  <strong>Shop url:</strong>
  <%= @bike.shop_url %>
</p>

<p>
  <strong>Maker url:</strong>
  <%= @bike.maker_url %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @bike.picture %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
