<%= form_for(color) do |f| %>
  <% if color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="field">
    <%= f.label :roadbike_id %>
    <%= f.select :roadbike_id, @roadbikes.map{|bike|[bike.bike_name,bike.id]} %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.text_field :picture %>
  </div>

  <div class="field">
    <%= f.label :sub_color %>
    <%= f.text_field :sub_color %>
  </div>

  <div class="field">
    <%= f.label :sub_color2 %>
    <%= f.text_field :sub_color2 %>
  </div>

  <div class="field">
    <%= f.label :official_color %>
    <%= f.text_field :official_color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
