<p id="notice"><%= notice %></p>
<%=link_to "adminへ戻る", admin_index_path%>
<h1>Colors</h1>

<table border="1">
  <thead>
    <tr>
      <th>Roadebike</th>
      <td>official_color</td>
      <th>Color</th>
      <td>sub_color</td>
      <td>sub_color2</td>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= get_bike_name(color.roadbike_id)%></td>
        <td><%= color.official_color %></td>
        <td><%= color.color %></td>
        <td><%= color.sub_color %></td>
        <td><%= color.sub_color2 %></td>
        <td><%= color.picture %></td>
        <td><%= link_to 'Show', color %></td>
        <td><%= link_to 'Edit', edit_color_path(color) %></td>
        <td><%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color', new_color_path %>
