<%= form_for(maker) do |f| %>
  <% if maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maker.errors.count, "error") %> prohibited this maker from being saved:</h2>

      <ul>
      <% maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maker_name %>
    <%= f.text_field :maker_name %>
  </div>

  <div class="field">
    <%= f.label :year_id %>
    <%= f.select :year_id, @year.map{|t| [t.year, t.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
